* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

em,
i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    /*为了照顾部分浏览器图片外面包含链接会有边框的问题*/
    vertical-align: middle
        /*防止图片底侧有空白缝隙*/
}

button {
    cursor: pointer
}

a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #c81623
}

button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    border: 0;
    outline: none;
}

body {
    -webkit-font-smoothing: antialiased;
    /* CSS3写法：抗锯齿性，让文字显示的更加清晰 */
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666
}

.hide,
.none {
    display: none
}

/* 清除浮动 */
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}

