.w {
    width: 1200px;
    margin: auto;
}
.header {
    height: 84px;
    border-bottom: 2px solid #b1191a;
}
.logo {
    padding-top: 15px;
}
.register_area {
    height: 520px;
    border:1px solid #ccc;
    margin-top: 20px;
}
.register_area h3 {
    height: 40px;background-color: #ececec;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    padding: 0 10px;
    font-weight: normal;
    font-size: 18px;
}
.register_area h3 em {
    font-size: 14px;
    float: right;
}
.register_area a {
    color: #c81623;
}
.reg_form {
    width: 600px;
    height: 420px;

    margin: 40px auto 0;
}
.reg_form label {
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: right;
}
.reg_form .inpu {
    width: 238px;
    height: 34px;
    border: 1px solid #ccc;
    margin-left: 10px;
}
.reg_form li {
    margin-bottom: 10px;
}
.error {
    color: red;
    margin-left: 10px;
}
.error_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/error.jpg) no-repeat;
    vertical-align: middle;
    /* 出现行内块经常出现对不齐，常用vertical-align：middle保持对齐 */
    margin-top: -2px;
}
.success {
    color: green;
    margin-left: 10px;
}
/* .success_icon {
    background: url(../img/error.jpg) no-repeat;
} */
.safe {
    padding-left: 188px;
    color: #f2f2f2;
}
.safe em {
    padding:0 12px;
    color: #fff;
}
.ruo {
    background-color: #de1111;
}
.zhong {
    background-color: #40b83f;
}
.qiang {
    background-color: #f79100;
}
.agree {
    padding-top: 20px;
    padding-left: 100px;
}
.agree input {
    vertical-align: middle;
    margin-right: 5px;
}
.agree a {
    color: #1ba1e6;
}
.over {
    width: 200px;
    height: 34px;
    background-color: #b81623;
    border:none;
    color: #fff;
    font-size: 14px;
    margin: 30px 0 0 130px ;
}